node_modules/
client/node_modules/
server/node_modules/

dist/
build/
client/dist/
server/dist/

.env
.env.*
!.env.example
!.env.email.example

*.zip
*.rar
*.7z
*.tar
*.gz

client/data/lichess/
server/uploads/
uploads/